.latest-Head2{
    color: whitesmoke;
    padding: 60px;
    font-size: 20px;
}

@media screen and (min-width:320px) and (max-width:480px){
    .latest-Head2{
        color: whitesmoke;
        padding: 60px;
        font-size:16px;
        margin-top:50px;
        margin-left: -50px;
    }

    .show4{
        display: none;
    }

    .show1{
        position: absolute;
        left: 1px;
        top:840px;
    }

    .show2{
        position:absolute;
        left:160px;
        top:840px;
    }

    .show3{
        display: none;
    }

}